<form>
    <div class="form-group">
      <label for="nro1">Numero 1: </label>
      <input type="number" class="form-control" id="nro1" [(ngModel)]="nro1">
    </div>
    <div class="form-group">
        <label for="nro2">Numero 2: </label>
        <input type="number" class="form-control" id="nro2" [(ngModel)]="nro2">
    </div>
    <br>
    <button class="btn btn-success" (click)="sumar()">+</button>
    <button class="btn btn-success" (click)="restar()">-</button>
    <button class="btn btn-success" (click)="dividir()">/</button>
    <button class="btn btn-success" (click)="multiplicar()">*</button>
    <br>
    <h3> Resultado: {{ resultado}} </h3>
  </form>