<div class="container" >
    <h3 class="font-weight-bold text-center">Eventos en Argentina</h3>
    <!--<app-eventos></app-eventos>-->
    <h4>Agenda de recitales</h4>
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Lugar</th>
            <th scope="col">Fecha</th>
          </tr>
        </thead>
        <tbody>
                    <tr *ngFor="let evento of eventos">
                        <td>{{evento.nombre}}</td>
                        <td>{{evento.lugar}}</td>
                        <td>{{evento.fecha | date}}</td>
                    </tr>
        </tbody>
      </table>
</div>
    